:root {
  /* background */
  --bgc-main: #ffffff;
  --bgc-dark: #f5f4fa;
  --bgc-light: #e5e5e5;
  --bgc-accent: #2196f3;
  --bgc-hero-footer: #2f303a;

  /* text */
  --txt-c-dark: #000000;
  --txt-c-grey: #212121;
  --txt-c-grey-light: #757575;
  --txt-c-accent: #2196f3;
  --txt-c-address: rgba(255, 255, 255, 0.6);
  --txt-c-light: #ffffff;
  --card-set-gap: 30px;
  --social-color: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: var(--txt-c-grey-light);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 1px solid teal; */
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .link {
  text-decoration: none;
} */

.pointer {
  cursor: pointer;
}

.logo {
  font-family: "Raleway", Roboto, sans-serif;
  font-size: 26px;
  font-style: normal;
  line-height: 1.38;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--txt-c-accent);

  margin-top: 0;
  margin-bottom: 0;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.studio {
  font-family: "Raleway", Roboto, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: var(--txt-c-dark);
}

.studio.foot {
  color: var(--bgc-main);
}

/* *logo ============================================*/
/* .logo:hover,
.logo:focus {
  color: var(--txt-c-accent);
} */

header {
  border-bottom: 1px solid #ececec;
}

.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ?.header-cont > .auth-nav {
  margin-left: auto;
} */

/* *main-nav ====================================*/
.main-nav {
  display: flex;
  align-items: center;
}

/* *site-nav =====================================*/
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:first-child) {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--txt-c-grey);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.site-nav .link.current {
  color: var(--txt-c-accent);
}

.header-cont .auth-nav {
  display: flex;
  align-items: center;
}

.auth-nav .item {
  display: flex;
  margin: 0;

  /* align-items: center; */
}

.mail-icon {
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.phone-icon {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.header-cont .auth-nav .item + .item {
  margin-left: 50px;
  margin-bottom: 0;

  /* padding: 32px 0px; */
}

.auth-nav .link {
  color: var(--txt-c-grey-light);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
  padding: 32px 0px;
}

.logo:hover,
.logo:focus,
.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--txt-c-accent);
}

/* *hero ====================================*/
.hero {
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/herobg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--txt-c-light);

  font-family: Roboto, sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0 0 30px 0;
}

.button {
  display: inline-block;

  color: var(--txt-c-light);
  background-color: var(--bgc-accent);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border: none;
}

/* *section ==========================*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.no-top-padding {
  padding-top: 0px;
}

/* *features======================================= */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title,
.section-item {
  color: var(--txt-c-grey);
}

.section-title {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features .item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.feature-icon-wrap {
  display: flex;
  background-color: var(--bgc-dark);

  margin-bottom: 30px;

  border-radius: 4px;
}

.feature-icon {
  width: 70px;
  height: 70px;

  margin: 25px auto 25px auto;
}

.features .section-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.features .content {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

/* *work================================================ */

.work {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.work .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

/* *team=================================================== */

.team-cont {
  background-color: var(--bgc-dark);
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.team .item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);

  background-color: var(--bgc-main);

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item-name {
  padding: 30px 32px;
}

.team .section-item {
  color: var(--txt-c-grey);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  margin-top: 0;
  margin-bottom: 10px;
}

.team .content {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 16px;
}

.team-social {
  display: flex;
  justify-content: center;
}

.team-social .social-item:not(:last-child) {
  margin-right: 10px;
}

.team .social-link {
  display: flex;

  color: var(--social-color);
  width: 40px;
  height: 40px;

  justify-content: center;
  align-items: center;

  border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--bgc-accent);
  color: var(--bgc-main);
}

.social-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.photo {
  display: block;
}

/* * CLIENTS========================================== */

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list .client-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: flex;
  color: var(--social-color);
  border: 1px solid var(--social-color);

  width: 170px;
  height: 90px;

  justify-content: center;
  align-items: center;

  border-radius: 4px;
}

.client-link:hover,
.client-link:focus {
  color: var(--txt-c-accent);
  border: 1px solid var(--txt-c-accent);
}

.client-logo {
  fill: currentColor;
}

/* *footer */

.footer {
  background-color: var(--bgc-hero-footer);

  padding-top: 60px;
  padding-bottom: 60px;
}

/* .footer .container {
  flex-flow: column;
} */

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer .logo.ftr {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0;
}

.auth-nav.foot-nav {
  flex-flow: column;
  font-style: normal;
}

.footer .auth-nav .item {
  margin: 0 0 9px 0;
  padding: 0;
}

.footer .link.foot-adr {
  margin: 0;
  padding: 0;
}

.auth-nav > .adres {
  display: block;
  color: var(--bgc-main);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 0;
}

.list .foot-adr {
  color: var(--txt-c-address);
}

.footer-adress {
  margin-right: 70px;
}

.footer-social {
  /* padding-top: 15px; */
}

.footer-social-title {
  color: var(--txt-c-light);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.footer-social-list {
  display: flex;
}

.footer-social-link {
  display: flex;

  color: var(--txt-c-light);
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;

  justify-content: center;
  align-items: center;

  border-radius: 50%;
}

.footer .social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--bgc-accent);
}

/* !portfolio ----------------------------------------------------------------------*/

/* *buttons==================================== */
.filter-btn {
  display: inline-block;
  color: var(--txt-c-grey);
  background-color: var(--bgc-dark);
  border: none;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  padding: 6px 22px;

  /* padding-left: 22px;
  padding-right: 22px; */
  border-radius: 4px;
}

.btn-container .item:not(:last-child) {
  margin-right: 8px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--txt-c-light);
  background-color: var(--bgc-accent);
  border: none;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* *cards================================== */

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.projects .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.projects .item:hover,
.projects .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .project-item {
  color: var(--txt-c-grey);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin: 0 0 4px 0;
  padding: 0 0 0 0;
}

.projects .project-type {
  color: var(--txt-c-grey-light);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  margin: 0;
  padding: 0;
}

.projects .item-name {
  display: block;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  padding: 20px 24px;
}
